@import "./variable";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(191, 190, 190);
}

h1{
    margin-bottom: 1.5rem;
}

.title-text{
    text-align: center;
    padding: 1rem 12rem 3rem 12rem;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
  @include card;
}

.card img {
    @include cardimg;
}

h3 {
    font-size: 1.3rem;
}

.card p {
    margin: 0.5rem 0;
    color: $gryColor;
}

.text-1 {
    display: flex;
    justify-content: $location;
    margin-top: 0.5rem;
}

.text-2 {
    display: flex;
    justify-content: $location;
    color: $gryColor;
}

.price {
    font-weight: bolder;
    font-size: 1.4rem;
    color: $orngColor;
}

.stars i {
    color: $ylwColor;
}

.texts {
    padding: 1rem 1rem;
}

.card img:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        margin-top: 2rem;
    }

    .title-text{
        padding-bottom: 0rem;
        padding: 0rem 3rem;
    }
}
